<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Vídeos App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="https://media-exp1.licdn.com/dms/image/C5603AQE9HcPaFBbN0Q/profile-displayphoto-shrink_100_100/0/1600716958073?e=1628726400&v=beta&t=Jc2JdZSzYly0NieY_yLiuyvzO_XmhFs0zy8Xg4ZhkYs" alt="">
  <h1>Rebecca Arambasic.</h1>
  <p>Diretora da Fatec Zona Sul</p>
  <a href="mailto:rebecca.silva3@fatec.sp.gov.br">rebecca.silva3@fatec.sp.gov.br</a>
  </ion-content>
